<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tidtabell</title>
    <link rel="stylesheet"  href="{{  url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="ruta" id="1">
        <h2>Bussar - Balticvägen</h2>
        <ul>
            {% for departure in departures2 %}
            <li>{{departure}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="ruta" id="2">
        <h2>Pendeltåg - Södertälje Hamn</h2>
        <ul>
            {% for departure in departures %}
            <li>{{departure}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>